<section class="call_to_action">
        <div class="container">
            <div class="row">
                <div class="col-md-8 wow fadeInLeft animated">
                    <div class="left">
                        <h2>LOOKING FOR PERSONALIZED EXPERIENCES?</h2>
                        <p>Please tell us what you want in your personalized experience.</p>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1 wow fadeInRight animated">
                    <div class="baton">
                        <a href="#CONTACT">
                            <button type="button" class="btn btn-primary cs-btn">Contact Us</button>
                        </a>    
                    </div>
                </div>
            </div>
        </div>
    </section>